@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/* Navigation section starts */
.navigation{
    display: flex;
    padding: 10px 2rem;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    gap: 40px;
    align-items: center;
}
.nav-links li a:hover{
    color: brown;
}
.nav-btn{
    padding: 10px 20px;
    border: 2px solid brown;
    border-radius: 6px;
    background: brown;
    color: white;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    box-shadow: 2px 2px 7px 2px black;
}
.nav-btn:hover{
    background-color: white;
    color: brown;
    transition: all 0.6s ease-in-out;
}
.services-links{
    display: none;
    position: fixed;
    border: 1px solid black;
    padding: 10px 30px;
    box-shadow: 1px 1px 5px 1px;
    top: 60px;
    transition: all 0.8s ease-in-out;
}
.nav-services:hover .services-links{
    display: block;
    transition: all 0.8s ease-in-out;
}
.services-links li{
    padding: 10px 0px;
}
/* Navigation section ends */

/* Home- banner section starts */
.home-banner-section{
    display: flex;
    background: linear-gradient(75deg, #65258a 10%, #e80566);
    padding: 50px 20px;
    justify-content: space-between;
}
.home-banner-content{
    width: 40%;
}
.home-banner-content span{
    color: #fff;
}
.home-banner-content h6{
    font-size: 20px;
    font-family: 600;
    color: #6d6c6c;
}
.home-banner-content h1{
    font-size: 40px;
    font-weight: 600;
    color: #6d6c6c;
}
.home-banner-content p{
    font-size: 16px;
    font-weight: 400;
    color: #6d6c6c;
    line-height: 35px;
}
.home-banner-btn{
    margin: 30px 0px;
}
/* Home- banner section ends */

/* Home social media links starts */
.home-social-links{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 30%;
}
.home-social-links i{
    border: 1px solid black;
    padding: 5px 100px 5px 5px;
    transform: translateX(100px);
    transition: all 0.6s ease-in-out;
}
.home-social-links i:hover{
    transform: translateX(0px);
    transition: all 0.6s ease-in-out;
}
/* Home social media links ends */

/* Home about us section starts */
.home-about-section{
    display: flex;
    padding: 50px 30px;
    justify-content: space-between;
    gap: 100px;
}
.home-about-images{
    position: relative;
}
.home-about-second-img{
    position: absolute;
    left: 0px;
    top: -26px;
    height: 400px;
}
.home-about-projects{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding: 30px 0;
}
/* Home about us section ends */